.employees-page {
  min-height: 100vh;
  background: $secondary; /* fallback */
  background-image: url("../img/ArbetsgivarePage.jpg"); /* fallback */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("../img/ArbetstagarePage.jpg");
  background-size: cover;
  background-position: center;
}

.introduction.employee {
  .introduction-container {
    .read-more-1 {
      margin-top: 3rem;
      width: 43.5rem;
    }
    .read-more-2 {
      margin-top: 1rem;
      margin-bottom: 0rem;
      width: 23.5rem;
    }
    .read-more-3 {
      margin-top: 1rem;
      margin-bottom: 3rem;
      width: 36rem;
    }
  }
}

@media screen and (max-width: 800px) {
  .employees-page {
    .info-container {
      h2 {
        text-align: center;
      }
      .text-wrapper {
        text-align: center;
        width: 90%;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
    }
  }
  .introduction.employee {
    .introduction-container {
      .read-more-1 {
        margin-top: 3rem;
        width: 27.5rem;
      }
      .read-more-3 {
        margin-top: 1rem;
        margin-bottom: 3rem;
        width: 26rem;
      }
    }
  }
}
