// Global variables

$primary: #ece8e5;
$secondary: #2f303a;
$link: #688bf5;
$h1-font: 5rem;
$h2-font: 3rem;
$h3-font: 2.5rem;
$primary-font: 2.3rem;
$secondary-font: 2rem;
$tertiary-font: 1.8rem;

// Global functions

@mixin flex($direction, $justify) {
  display: -webkit-box; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */
  display: -moz-box; /* Firefox 2-21 */
  display: -ms-flexbox; /* Internet explorer 10 */
  display: -webkit-flex; /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -webkit-box-align: $direction;
  -moz-align-items: $direction;
  -ms-align-items: $direction;
  -webkit-align-items: $direction;
  align-items: $direction;
  -webkit-box-pack: $justify;
  -moz-justify-content: $justify;
  -ms-justify-content: $justify;
  -webkit-justify-content: $justify;
  justify-content: $justify;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: $h1-font;
  color: $primary;
}

h2 {
  font-size: $h2-font;
  color: $primary;
}

h3 {
  font-size: $h3-font;
  color: $primary;
}

p {
  color: $primary;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 12vh;
  @include flex(center, space-between);
  .logo {
    flex-grow: 4.5;
  }
  ul {
    flex-grow: 1;
    @include flex(center, space-between);
    a {
      color: $primary;
      font-size: $secondary-font;
      font-weight: 400;
    }
  }
}
