.homepage {
  min-height: 100vh;
  background: $secondary; /* fallback */
  background-image: url("/img/LandingPage.jpg"); /* fallback */
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.8) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url("/img/LandingPage.jpg");
  background-size: cover;
  background-position: center;
}

.info-container {
  min-height: 82vh;
  width: 100%;
  @include flex(center, center, column);
  -webkit-box-orient: vertical; /* Internet explorer 10 (column = vertical, row = horizontal)*/
  .text-wrapper {
    margin-top: 5rem;
    margin-bottom: 5rem;
    width: 50.1rem;
    p {
      line-height: 2.7rem;
      font-size: $secondary-font;
    }
  }
}

button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  width: 15rem;
  height: 5rem;

  .border-line {
    position: absolute;
    background: $primary;
    transition: all ease 0.3s;
  }

  .border-line.top-right-vertical {
    top: 0;
    width: 0.2rem;
    height: 2rem;
  }
  .border-line.top-right-horizontal {
    top: 0;
    width: 2rem;
    height: 0.2rem;
  }

  .border-line.bottom-right-vertical {
    bottom: 0;
    right: 0;
    width: 0.2rem;
    height: 2rem;
  }
  .border-line.bottom-right-horizontal {
    bottom: 0;
    right: 0;
    width: 2rem;
    height: 0.2rem;
  }

  p {
    font-size: $tertiary-font;
  }

  &:hover {
    .border-line.top-right-vertical {
      width: 0.2rem;
      height: 5rem;
    }
    .border-line.top-right-horizontal {
      top: 0;
      width: 15rem;
      height: 0.2rem;
    }

    .border-line.bottom-right-vertical {
      bottom: 0;
      right: 0;
      width: 0.2rem;
      height: 5rem;
    }
    .border-line.bottom-right-horizontal {
      bottom: 0;
      right: 0;
      width: 15rem;
      height: 0.2rem;
    }
  }
}

/* ---------------------------services-for-workers--------------------------- */

.services-for-workers {
  background-color: $secondary;
  min-height: 70vh;
  @include flex(center, space-between, row);
  .info-container-services {
    width: 100%;
    @include flex(center, center, column);
    .info-content-container-services {
      width: 56rem;
      h2 {
        margin-bottom: 5rem;
      }
      .labour-and-negotiations-container {
        @include flex(center, space-between, row);
        line-height: 2.7rem;
        li {
          margin-left: 2.5rem;
          list-style-type: disc;
          color: $primary;
          line-height: 3.5rem;
          font-size: $tertiary-font;
        }
        p {
          font-size: $primary-font;
        }

        .read-more {
          width: 10rem;
          a {
            @include flex(center, space-between, row);
            p {
              font-size: $tertiary-font;
              color: $link;
            }

            img {
              transition: all ease 0.3s;
              width: 2.4rem;
              height: 2.4rem;
              filter: $link;
            }

            &:hover {
              img {
                transform: translate(1rem);
              }
            }
          }
        }
      }
    }
  }
}
