@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

h1 {
  font-size: 5rem;
  color: #ece8e5;
}

h2 {
  font-size: 3rem;
  color: #ece8e5;
}

h3 {
  font-size: 2.5rem;
  color: #ece8e5;
}

p {
  color: #ece8e5;
}

nav {
  width: 90%;
  margin: auto;
  min-height: 12vh; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row; /* Internet explorer 10 (column = vertical, row = horizontal)*/
}
nav .logo {
  flex-grow: 4.5;
}
nav ul {
  flex-grow: 1; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row; /* Internet explorer 10 (column = vertical, row = horizontal)*/
}
nav ul li {
  position: relative;
}
nav ul li .border-link {
  position: absolute;
  bottom: 0;
  transition: all ease 0.2s;
  background: #ece8e5;
  width: 0rem;
  height: 0.2rem;
}
nav ul li:hover .border-link {
  width: 100%;
}
nav ul li a {
  color: #ece8e5;
  font-size: 2rem;
  font-weight: 400;
}

footer {
  min-height: 12vh;
  background: #ece8e5; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
footer .footer-container {
  width: 90%;
  margin: auto; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  flex-wrap: wrap;
}
footer .footer-container .company-information-container { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: normal;
  -ms-align-items: normal;
  align-items: normal;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  flex-grow: 1.5;
}
footer .footer-container .company-information-container .contact-info-container {
  width: 100%; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: normal;
  -ms-justify-content: normal;
  justify-content: normal;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
footer .footer-container .company-information-container .contact-info-container p {
  font-size: 1.8rem;
  font-weight: 400;
}
footer .footer-container .company-information-container .contact-info-container p a {
  color: #2f303a;
  text-decoration: underline;
}
footer .footer-container .company-information-container .contact-info-container .contact-us {
  width: 14rem;
  margin-left: 3rem;
}
footer .footer-container .company-information-container .contact-info-container .contact-us a { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
footer .footer-container .company-information-container .contact-info-container .contact-us a p {
  color: #2f303a;
  font-size: 1.8rem;
}
footer .footer-container .company-information-container .contact-info-container .contact-us a img {
  transition: all ease 0.3s;
  width: 2rem;
  height: 2rem;
}
footer .footer-container .company-information-container .contact-info-container .contact-us a:hover img {
  transform: translate(1rem);
}
footer .footer-container ul.socials { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  flex-grow: 1;
}
footer .footer-container ul.socials li a img {
  transition: all ease 0.5s;
}
footer .footer-container ul.socials li:hover a img {
  /* primary color */
  filter: invert(53%) sepia(31%) saturate(1360%) hue-rotate(193deg) brightness(98%) contrast(96%);
}

@media screen and (max-width: 800px) {
  nav {
    flex-wrap: wrap;
  }
  nav .logo {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  nav ul {
    flex-basis: 60rem;
    flex-wrap: wrap;
  }
  nav ul li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  footer .footer-container .company-information-container {
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex-basis: 40rem; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
  }
  footer .footer-container .company-information-container .contact-info-container { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
  footer .footer-container .company-information-container .copyright-logo-wrapper {
    width: 25rem;
  }
  footer .footer-container .company-information-container .copyright-logo-wrapper img {
    height: 100%;
    width: 100%;
  }
  footer .footer-container ul.socials {
    margin-top: 1rem;
    margin-bottom: 2rem;
    flex-basis: 40rem; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
    display: flex;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -moz-justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    justify-content: space-evenly;
    -moz-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
  }
}
.homepage {
  min-height: 100vh;
  background: #2f303a; /* fallback */
  background-image: url("/img/LandingPage.jpg"); /* fallback */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("/img/LandingPage.jpg");
  background-size: cover;
  background-position: center;
}

.info-container {
  min-height: 82vh;
  width: 100%; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; /* Internet explorer 10 (column = vertical, row = horizontal)*/
}
.info-container .text-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 50.1rem;
}
.info-container .text-wrapper p {
  line-height: 2.7rem;
  font-size: 2rem;
}

button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  width: 15rem;
  height: 5rem;
}
button .border-line {
  position: absolute;
  background: #ece8e5;
  transition: all ease 0.3s;
}
button .border-line.top-right-vertical {
  top: 0;
  width: 0.2rem;
  height: 2rem;
}
button .border-line.top-right-horizontal {
  top: 0;
  width: 2rem;
  height: 0.2rem;
}
button .border-line.bottom-right-vertical {
  bottom: 0;
  right: 0;
  width: 0.2rem;
  height: 2rem;
}
button .border-line.bottom-right-horizontal {
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 0.2rem;
}
button p {
  font-size: 1.8rem;
}
button:hover .border-line.top-right-vertical {
  width: 0.2rem;
  height: 5rem;
}
button:hover .border-line.top-right-horizontal {
  top: 0;
  width: 15rem;
  height: 0.2rem;
}
button:hover .border-line.bottom-right-vertical {
  bottom: 0;
  right: 0;
  width: 0.2rem;
  height: 5rem;
}
button:hover .border-line.bottom-right-horizontal {
  bottom: 0;
  right: 0;
  width: 15rem;
  height: 0.2rem;
}

/* ---------------------------services-for-workers--------------------------- */
.services-for-workers {
  background-color: #2f303a;
  min-height: 70vh; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: normal;
  -ms-align-items: normal;
  align-items: normal;
  -moz-justify-content: normal;
  -ms-justify-content: normal;
  justify-content: normal;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.services-for-workers .info-container-services {
  width: 100%; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.services-for-workers .info-container-services .info-content-container-services {
  width: calc(30rem + 20vw);
}
.services-for-workers .info-container-services .info-content-container-services h2 {
  margin-bottom: calc(2rem + 1vw);
  margin-left: 2rem;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: normal;
  -ms-align-items: normal;
  align-items: normal;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
  line-height: 2.7rem;
  margin-left: 2rem;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container li {
  margin-left: 2.5rem;
  list-style-type: disc;
  color: #ece8e5;
  line-height: 3.5rem;
  font-size: 1.8rem;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container p {
  font-size: 2.3rem;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more {
  width: 10rem;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a p {
  font-size: 1.8rem;
  color: #688bf5;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a img {
  transition: all ease 0.3s;
  width: 2.4rem;
  height: 2.4rem;
}
.services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a:hover img {
  transform: translate(1rem);
}
.services-for-workers .image-wrapper-worker {
  position: relative;
  min-height: 70vh;
  width: 100%;
}
.services-for-workers .image-wrapper-worker .services-wrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background: rgba(47, 48, 58, 0.8);
}
.services-for-workers .image-wrapper-worker img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

/* ---------------------------services-for-employers--------------------------- */
.services-for-employers {
  background-color: #2f303a;
  min-height: 120vh; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: stretch;
  -ms-align-items: stretch;
  align-items: stretch;
  -moz-justify-content: stretch;
  -ms-justify-content: stretch;
  justify-content: stretch;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.services-for-employers .info-container-services {
  width: 100%; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.services-for-employers .info-container-services .info-content-container-services {
  width: calc(30rem + 20vw);
}
.services-for-employers .info-container-services .info-content-container-services h2 {
  margin-bottom: 2rem;
  margin-top: 1rem;
  margin-left: 2rem;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container > * {
  margin-top: 1.4vw;
  margin-bottom: 1.4vw;
  margin-left: 2rem;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container {
  line-height: 2.7rem; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: normal;
  -ms-align-items: normal;
  align-items: normal;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container li {
  margin-left: 2.5rem;
  list-style-type: disc;
  color: #ece8e5;
  line-height: 3.5rem;
  font-size: 1.8rem;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container p {
  font-size: 2.3rem;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more {
  width: 10rem;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a p {
  font-size: 1.8rem;
  color: #688bf5;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a img {
  transition: all ease 0.3s;
  width: 2.4rem;
  height: 2.4rem;
}
.services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container .read-more a:hover img {
  transform: translate(1rem);
}
.services-for-employers .image-wrapper-employer {
  position: relative;
  min-height: 120vh;
  width: 100%;
}
.services-for-employers .image-wrapper-employer .services-wrapper {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem;
  background: rgba(47, 48, 58, 0.8);
}
.services-for-employers .image-wrapper-employer img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: middle;
}

@media screen and (max-width: 1024px) {
  .services-for-workers {
    flex-wrap: wrap-reverse;
  }
  .services-for-workers .info-container-services {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .services-for-workers .info-container-services h2 {
    display: none;
  }
  .services-for-workers .image-wrapper-worker {
    /* For some reason you have to set both a min-height and height to 40vh to override the previous min-height of 70vh. */
    min-height: 40vh;
    height: 40vh;
  }
  .services-for-workers .image-wrapper-worker .services-wrapper {
    display: block;
  }
  .services-for-workers .image-wrapper-worker img {
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: 50% 10%;
       object-position: 50% 10%;
  }
  .services-for-employers {
    flex-wrap: wrap;
  }
  .services-for-employers .info-container-services {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .services-for-employers .info-container-services h2 {
    display: none;
  }
  .services-for-employers .info-container-services .labour-and-negotiations-container {
    height: 100%;
  }
  .services-for-employers .image-wrapper-employer {
    /* For some reason you have to set both a min-height and height to 40vh to override the previous min-height of 120vh. */
    min-height: 40vh;
    height: 40vh;
  }
  .services-for-employers .image-wrapper-employer .services-wrapper {
    display: block;
  }
  .services-for-employers .image-wrapper-employer img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media screen and (max-width: 800px) {
  .homepage .info-container h2 {
    text-align: center;
  }
  .homepage .info-container .text-wrapper {
    text-align: center;
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .services-for-workers h2 {
    text-align: center;
  }
  .services-for-workers .info-container-services {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .services-for-workers .info-container-services .info-content-container-services {
    width: 90%;
  }
  .services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container {
    flex-wrap: wrap;
    justify-content: center;
  }
  .services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container .labour-law-container {
    margin-bottom: 3rem;
  }
  .services-for-workers .info-container-services .info-content-container-services .labour-and-negotiations-container > * {
    flex-basis: 50rem;
  }
  .services-for-employers {
    flex-wrap: wrap;
  }
  .services-for-employers h2 {
    text-align: center;
  }
  .services-for-employers .info-container-services {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
  .services-for-employers .info-container-services .info-content-container-services {
    width: 90%;
  }
  .services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container {
    height: 100%;
  }
  .services-for-employers .info-container-services .info-content-container-services .labour-and-negotiations-container > * {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
.about-us {
  min-height: 100vh;
  background: #2f303a; /* fallback */
  background-image: url("/img/About.jpg"); /* fallback */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%), url("/img/About.jpg");
  background-size: cover;
  background-position: center;
}

.info-container {
  min-height: 82vh;
  width: 100%; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column; /* Internet explorer 10 (column = vertical, row = horizontal)*/
}
.info-container .text-wrapper {
  margin-top: 5rem;
  margin-bottom: 5rem;
  width: 50.1rem;
}
.info-container .text-wrapper p {
  line-height: 2.7rem;
  font-size: 2rem;
}

button {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  width: 15rem;
  height: 5rem;
}
button .border-line {
  position: absolute;
  background: #ece8e5;
  transition: all ease 0.3s;
}
button .border-line.top-right-vertical {
  top: 0;
  width: 0.2rem;
  height: 2rem;
}
button .border-line.top-right-horizontal {
  top: 0;
  width: 2rem;
  height: 0.2rem;
}
button .border-line.bottom-right-vertical {
  bottom: 0;
  right: 0;
  width: 0.2rem;
  height: 2rem;
}
button .border-line.bottom-right-horizontal {
  bottom: 0;
  right: 0;
  width: 2rem;
  height: 0.2rem;
}
button p {
  font-size: 1.8rem;
}
button:hover .border-line.top-right-vertical {
  width: 0.2rem;
  height: 5rem;
}
button:hover .border-line.top-right-horizontal {
  top: 0;
  width: 15rem;
  height: 0.2rem;
}
button:hover .border-line.bottom-right-vertical {
  bottom: 0;
  right: 0;
  width: 0.2rem;
  height: 5rem;
}
button:hover .border-line.bottom-right-horizontal {
  bottom: 0;
  right: 0;
  width: 15rem;
  height: 0.2rem;
}

.employee-page {
  min-height: 50vh;
  background: linear-gradient(to bottom, rgb(231, 233, 235) 0%, rgb(224, 236, 250) 100%); /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: normal;
  -ms-justify-content: normal;
  justify-content: normal;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.employee-page .information-wrapper {
  flex-grow: 1; /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -moz-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
}
.employee-page .information-wrapper .information-container {
  width: 60rem;
}
.employee-page .information-wrapper .information-container h2 {
  margin-bottom: 4rem;
  color: #2f303a;
}
.employee-page .information-wrapper .information-container p {
  color: #2f303a;
  font-size: 2rem;
  font-weight: 400;
}
.employee-page .information-wrapper .information-container p.name,
.employee-page .information-wrapper .information-container p.title {
  margin-top: 0.2rem;
  font-weight: 700;
}
.employee-page .information-wrapper .information-container p.title {
  margin-bottom: 0.2rem;
}
.employee-page .information-wrapper .information-container p a {
  color: #2f303a;
  text-decoration: underline;
}
.employee-page .information-wrapper .information-container .contact-us {
  width: 15rem;
  margin-top: 0.2rem;
}
.employee-page .information-wrapper .information-container .contact-us a { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.employee-page .information-wrapper .information-container .contact-us a p {
  color: #688bf5;
  font-size: 2rem;
}
.employee-page .information-wrapper .information-container .contact-us a img {
  transition: all ease 0.3s;
  width: 2rem;
  height: 2rem;
}
.employee-page .information-wrapper .information-container .contact-us a:hover img {
  transform: translate(1rem);
}
.employee-page .image-wrapper {
  flex-grow: 1;
  align-self: flex-end;
}
.employee-page .image-wrapper img {
  height: calc(10rem + 40vw);
  -o-object-fit: contain;
     object-fit: contain;
  vertical-align: middle;
}

.employee-page.owner {
  background: linear-gradient(to bottom, rgb(224, 236, 250) 0%, rgb(231, 233, 235) 100%);
}
.employee-page.owner .image-wrapper img {
  float: right;
}

@media screen and (max-width: 1024px) {
  .employee-page {
    flex-wrap: wrap-reverse;
  }
  .employee-page .information-wrapper {
    flex-basis: 100rem;
  }
  .employee-page .information-wrapper .information-container {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .employee-page .image-wrapper {
    text-align: center;
  }
  .employee-page.owner {
    flex-wrap: wrap;
  }
  .employee-page.owner .image-wrapper img {
    float: none;
  }
}
@media screen and (max-width: 800px) {
  .about-us .info-container h2 {
    text-align: center;
  }
  .about-us .info-container .text-wrapper {
    text-align: center;
    width: 90%;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .employee-page .information-wrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .employee-page .information-wrapper .information-container {
    width: 80%;
    margin: auto;
  }
  .employee-page .information-wrapper .information-container h2 {
    text-align: center;
  }
}
.contact-page {
  min-height: 100vh;
  background: #2f303a; /* fallback */
  background-image: url("/img/Contact.jpg"); /* fallback */
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url("/img/Contact.jpg");
  background-size: cover;
  background-position: center;
}
.contact-page .info-container {
  margin-top: 10rem;
}
.contact-page .info-container h1 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.contact-page .info-container h1 a {
  color: #ece8e5;
}
.contact-page .info-container .text-wrapper {
  text-align: center;
  width: 100%;
}
.contact-page .info-container .text-wrapper p {
  font-size: 2.3rem;
}
.contact-page form {
  width: 70rem;
  margin-bottom: 3rem;
}
.contact-page form .input-box-container { /* Chrome 4-20, Safari 3.1-6, Safari på iOS 3.2-6.1, Androids web browser 2.1-4.3 */ /* Firefox 2-21 */ /* Internet explorer 10 */ /* Chrome 21-28, Safari 6.1-8, Opera 15-16, Safari on iOS 7-8.4 */
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -moz-flex-direction: row;
  -o-flex-direction: row;
  flex-direction: row;
}
.contact-page form .input-box-container .input-box {
  position: relative;
  margin-top: 4rem;
}
.contact-page form .input-box-container .input-box input {
  background: none;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(236, 232, 229, 0.7);
  height: 4rem;
  width: 30rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  color: #ece8e5;
  font-family: "Mulish", sans-serif;
}
.contact-page form .input-box-container .input-box input:focus + label, .contact-page form .input-box-container .input-box input:valid + label {
  color: #ece8e5;
  transform: translateY(-200%);
  font-size: 1.8rem;
}
.contact-page form .input-box-container .input-box input:focus {
  outline: none;
  border-color: #ece8e5;
}
.contact-page form .input-box-container .input-box label {
  transition: all ease 0.3s;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  position: absolute;
  color: rgba(236, 232, 229, 0.7);
  font-size: 2rem;
  pointer-events: none;
}
.contact-page form .input-box-container .message-box {
  position: relative;
  width: 70rem;
}
.contact-page form .input-box-container .message-box textarea {
  height: 10rem;
  width: 100%;
  background: none;
  border-style: solid;
  border-width: 0.1rem;
  border-color: rgba(236, 232, 229, 0.7);
  padding: 0.5rem;
  font-size: 1.8rem;
  color: #ece8e5;
  font-family: "Mulish", sans-serif;
  resize: none;
}
.contact-page form .input-box-container .message-box textarea:focus + label, .contact-page form .input-box-container .message-box textarea:valid + label {
  color: #ece8e5;
  transform: translateY(-110%);
  font-size: 1.8rem;
}
.contact-page form .input-box-container .message-box textarea:focus {
  outline: none;
  border-color: #ece8e5;
}
.contact-page form .input-box-container .message-box label {
  top: 0;
  transform: translateY(25%);
}
.contact-page form button {
  margin-top: 4rem;
  float: right;
}

@media screen and (max-width: 800px) {
  .contact-page form {
    width: 80%;
  }
  .contact-page form .input-box-container {
    flex-wrap: wrap;
  }
  .contact-page form .input-box-container .input-box {
    width: 100%;
  }
  .contact-page form .input-box-container .input-box input {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */